*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --color1: #eff6ac;
}

html, body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "left left . right right";
    min-width: 800px;
    justify-content: space-around;
    background-color: var(--color1);
    padding: 10px;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}